services:
  # Serviço da sua aplicação NestJS
  reservations:
    build:
      context: .
      dockerfile: ./apps/reservations/Dockerfile
      target: development
    command: npm run start:dev reservations
    container_name: reservations_app
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    # Esta é a forma correta de passar a URI para o container
    environment:
      NODE_ENV: production
      MONGODB_URI: mongodb://mongodb:27017/reservations
    depends_on:
      - mongodb

  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: development
    command: npm run start:dev auth
    ports:
      - '3001:3001'
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  # Serviço do Banco de Dados MongoDB
  mongodb:
    image: mongo:6
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

# Seção de volumes, no nível principal
volumes:
  mongodb_data: {}